<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bulma/bulma.css">
    {% block title %}
    <title>Informações de Empenho</title>
    {% endblock title %}
    <style>
        .icon-loading {
            display: inline-block;
            animation-name: spin;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
          }
        @keyframes spin { 
            from { 
                transform: rotate(0deg); 
            } to { 
                transform: rotate(360deg); 
            }
        }
    </style>
</head>
<body class="has-background-info-light">
    <header class="has-background-info-dark has-text-white py-4 has-text-centered">
        <p class="title has-text-white">Informações de Empenho</p>
        <p class="subtitle has-text-white">Consulta de Informações do Portal da Transparência</p>
    </header>
    {% block section_main %}

    {% endblock section_main %}

    {% block script %}

    {% endblock script %}
</body>
</html>